*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111;
    color:white;
}

/* Navbar */
header{
    position:fixed;
    width:100%;
    top:0;
    background:black;
    display:flex;
    justify-content:space-between;
    padding:15px 40px;
}

.logo{
    color:gold;
}

nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

nav a:hover{
    color:gold;
}

/* Hero */
.hero{
    height:100vh;
    background:url("https://source.unsplash.com/1600x900/?restaurant") center/cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:45px;
}

/* Sections */
.section{
    padding:100px 40px;
    text-align:center;
}

.dark{
    background:#1b1b1b;
}

/* Owner */
.owner-container{
    display:flex;
    justify-content:center;
    gap:40px;
    margin-top:30px;
    flex-wrap:wrap;
}

.owner-container img{
    border-radius:10px;
}

/* Gallery */
.gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    margin-top:30px;
}

.gallery img{
    width:250px;
    border-radius:10px;
}

/* Hours */
.hours{
    margin-top:20px;
    font-size:18px;
}

/* Contact */
.contact-form{
    margin-top:30px;
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}

.contact-form input,
.contact-form textarea{
    padding:10px;
    border:none;
    border-radius:5px;
}

.contact-form button{
    background:gold;
    padding:10px;
    border:none;
    font-weight:bold;
    cursor:pointer;
}

/* Footer */
footer{
    text-align:center;
    padding:20px;
    background:black;
}
